body {
  min-height: 100vh;
  padding: 2.5rem;

  font-family: 'Fira Code', monospace;
  font-size: 1rem;

  color: var(--fg);
  background-color: var(--bg);

  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  body {
    padding: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

.main-page {
  flex: 1;
  container: main-page / inline-size;

  width: 80vw;
  margin: auto;

  margin-top: 2rem;
}

@container main-page (width < 768px) {
  .main-page {
    width: 100vw;
  }
}

a {
  color: var(--special);
  text-decoration: none;

  &:hover {
    color: var(--special);
    text-decoration: underline;
  }
}

ul {
  list-style-type: square;
}

::selection {
  color: var(--bg-lighter);
  background-color: var(--fg-lighter);
}
